<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="template1">
<head>
<meta charset="utf-8" />
<title>Operations</title>
</head>
<body>
	<div layout:fragment="content">

		<div class="col-md-6 col-md-offset-3">
			<div class="panel panel-primary">
				<div class="panel-heading">Problème d'autorisation</div>
				<div class="panel-body">
					<div class="red">
						Vous n'avez pas le droit d'acceder à cette ressource
					</div>
				</div>
			</div>


		</div>

	</div>


</body>
</html>